<!DOCTYPE HTML>
<html lang="zh-cn">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>检索系统</title>
    </head>
    <script src="javascripts/vue.min.js"></script>
    <script src="javascripts/jquery-3.3.1.js"></script>

    <script src="javascripts/bootstrap.js"></script>


    <link href="stylesheets/fonts.css" rel="stylesheet"/>
    <link href="stylesheets/cofun.css" rel="stylesheet"/>
    <link href="stylesheets/bootstrap.css" rel="stylesheet"/>

    <body>
        <div class="content container" id="app">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#dataset" data-toggle="tab">数据集</a></li>
                <li role="presentation"><a href="#adata" data-toggle="tab">添加/删除数据</a></li>
                <li role="presentation"><a href="#query" data-toggle="tab">查询</a></li>
            </ul>
            <div class="tab-content">
            
                <div class="tab-pane active" id="dataset">
                    <table class="table table-bordered table-hover">
                        <th>编号</th>
                        <th>数据集名称</th>
                        <th></th>
                        <tr v-for='item in dataset'>
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td><button v-on:click="selectDataset(item)">选择</button></td>
                        </tr>
                    </table>
                    <div class="form-horizontal">
                        <legend>添加数据集</legend>
                        <div class="control-group">
                            <label for="time" class="control-label">数据集名称</label>
                            <div class="controls">
                                <input type="text" v-model='datasetName' placeholder="格式：数据集名称">
                            </div>
                        </div>
                        <div class="control-group">
                                <label for="image" class="control-label">数据集文件</label>
                                <div class="controls">
                                    <input type="file" @change="getFile">
                                </div>
                            </div>
                        <div>
                            <button class="btn btn-success" v-on:click="insertDataset">添加</button>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="adata">
                    <div class="form-horizontal">
                        <legend>添加数据</legend>
                        <div class="control-group">
                            <label for="time" class="control-label">时间</label>
                            <div class="controls">
                            <input type="text" v-model="insertTime" placeholder="格式：yyyy-mm-dd HH:MM:SS,没有则不填">
                            
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="time" class="control-label">经度</label>
                            <div class="controls">
                                <input type="text" v-model="insertLongitude"  placeholder="格式:xx.xxx E/W,没有则不填">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="area" class="control-label">纬度</label>
                            <div class="controls">
                                <input type="text" v-model="insertLatitude" placeholder="格式:xx.xxx N/S,没有则不填">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="area" class="control-label">文本</label>
                            <div class="controls">
                                <textarea rows="10" v-model="insertText" placeholder="没有则不填"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="image" class="control-label">图片</label>
                            <div class="controls">
                                <input type="file" @change="insertImageFunc">
                            </div>
                        </div>
                        <button class="btn btn-success" v-on:click="insertData">添加</button>
                    </div>
                    <div class="form-horizontal">
                        <legend>删除数据</legend>
                        <div class="control-group">
                            <label for="datasetID" class="control-label">编号</label>
                            <div class="controls">
                            <input type="text"  v-model='removeID' placeholder="格式:xx">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="query">
                    <legend>查询</legend>
                    <div class="control-group">
                        <label for="time" class="control-label">时间</label>
                        <div class="controls">
                        <input type="text" v-model="queryStartTime" placeholder="格式：yyyy-mm-dd HH:MM:SS,没有则不填">至
                        <input type="text" v-model="queryEndTime" placeholder="格式：yyyy-mm-dd HH:MM:SS,没有则不填">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="time" class="control-label">经度</label>
                        <div class="controls">
                            <input type="text" v-model="queryLongitudeGte"  placeholder="格式:xx.xxx E/W,没有则不填">至
                            <input type="text" v-model="queryLongitudeLte"  placeholder="格式:xx.xxx E/W,没有则不填">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="area" class="control-label">纬度</label>
                        <div class="controls">
                            <input type="text" v-model="queryLatitudeGte" placeholder="格式:xx.xxx N/S,没有则不填">至
                            <input type="text" v-model="queryLatitudeLte" placeholder="格式:xx.xxx N/S,没有则不填">

                        </div>
                    </div>
                    <div class="control-group">
                        <label for="area" class="control-label">文本</label>
                        <div class="controls">
                            <textarea rows="10" v-model="queryText" placeholder="没有则不填"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="image" class="control-label">图片</label>
                        <div class="controls">
                            <input type="file" @change="queryImageFunc">
                        </div>
                    </div>
                    <button class="btn btn-success" v-on:click="query">查询</button>
                    <hr>
                    <h1>查询结果</h1>
                    <div v-for='item in query_result'>
                        <img :src="item.src" width="200" height="200">
                        <p>经度：{{item.lng}}, 纬度：{{item.la}}, 时间戳：{{item.t}}</p>
                    </div>
                    <br>
                </div>
            
            </div>
        </div>
    </body>
    <script>
        function add0(m){return m<10?'0'+m:m }
        function format(shijianchuo)
        {
//shijianchuo是整数，否则要parseInt转换
            var time = new Date(shijianchuo);
            var y = time.getFullYear();
            var m = time.getMonth()+1;
            var d = time.getDate();
            var h = time.getHours();
            var mm = time.getMinutes();
            var s = time.getSeconds();
            return y+'-'+add0(m)+'-'+add0(d)+' '+add0(h)+':'+add0(mm)+':'+add0(s);
        }
        new Vue({
            el:'#app',
            data:{
                dataset:[],
                data:[],
                host:'http://10.141.223.70:8000',
                datasetName:'',
                datasetID:0,

                datasetFile:'',
                file:{},

                insertTime:'',
                insertLongitude:'',
                insertLatitude:'',
                insertText:'',
                insertImage:{},

                removeID:'',

                queryStartTime:'',
                queryEndTime:'',
                queryLongitudeLte:'',
                queryLongitudeGte:'',
                queryLatitudeLte:'',
                queryLatitudeGte:'',
                queryText:'',
                queryImage:{},

                query_result:[],
            },
            methods:{
                refreshDataSet:function() {
                    var url = this.host + '/queryDataset/';
                    $.post(url,(data, status)=>{
                        this.dataset=data.dataset;
                    });
                    return 0;
                },
                selectDataset:function(item){
                    var url = this.host + '/selectDataset/';
                    var query = {datasetID: item.id};
                    $.post(url, query, (data, status)=>{
                        this.refreshDataSet();
                        alert('你已选择' + item.name + '数据集');
                    });
                },
                bindDatasetID:function(id){
                    this.datasetID = id;
                },
                getFile:function(event){
                    var file = event.target.files;
                    console.log(file[0]);
                    this.file = file;
                },
                insertImageFunc:function(event){
                    var image = event.target.files;
                    this.insertImage = image[0];
                    console.log(image[0]);
                },
                queryImageFunc:function(event){
                    var image = event.target.files;
                    this.queryImage = image[0];
                    console.log(image[0]);
                },

                insertDataset:function(){
                    
                    var url = this.host + '/insertDataset/';
                    console.log('url:', url);
                    var query = {datasetName:this.datasetName};
                    console.log(query);
                    var formdata = new FormData();
                    formdata.append('datasetName', this.datasetName);
                    if (this.file != {})
                        formdata.append('file', this.file);

                    $.ajax({
                        type:'post',
                        url:url,
                        data:formdata,
                        processData:false,
                        contentType: false,
                        success:function(data){
                            if (data['result'] == 0)
                            //alert("添加成功！ID:", data['resultID'])
                                alert('添加成功！')
                        }
                    });
                    /*$.post(url, query, (data, status)=>{
                        if (data.result == 0)
                            alert('添加成功');

                        //this.refreshDataset();
                        this.refreshDataSet();
                    })*/
                },
                removeDataset:function(DatasetName){
                    var url = this.host + '/removeDataset/';
                    var query = {datasetID:datasetID};
                    $.post(url, query, (data, status)=>{
                        this.refreshDataSet();
                    });
                },

                insertData:function(){
                    var url = this.host + '/insertData/';
                    var query = {
                                time:this.insertTime,
                                longitude:this.insertLongitude,
                                latitude:this.insertLatitude,
                                text:this.insertText,
                                image:this.insertImage
                                };
                    console.log(query);
                    
                    /*$.post(url, query, (data, status)=>{
                        if (data['result'] == 0) alert("添加成功！ID:", data['resultID'])
                    });
                    */
                   var formdata = new FormData();
                   formdata.append("time", this.insertTime);
                   formdata.append("longtitude", this.insertLongitude);
                   formdata.append("latitude", this.insertLatitude);
                   formdata.append("text", this.insertText);
                   formdata.append("image", this.insertImage);
                   $.ajax({
                       type:'post',
                       url:url,
                       data:formdata,
                       processData:false,
                       contentType: false,
                       success:function(data){
                        if (data['result'] == 0) 
                            //alert("添加成功！ID:", data['resultID'])
                            alert('添加成功！')
                       }
                   })
                },
                removeData:function(){
                    var url = this.host + '/removeData/';
                    var query = {id:this.removeID
                                };
                    $.post(url, query, (data, status)=>{
                        if (data['result'] == 0) alert("添加成功！")
                    });
                },

                query:function(){
                    var url = this.host + '/query/';
                    /*var query = {
                                startTime:this.queryStartTime,
                                endTime:this.queryStartTime,
                                longitude_lte:this.queryLongitudeLte,
                                longitude_gte:this.queryLongitudeGte,
                                latitude_lte:this.queryLatitudeLte,
                                latitude_gte:this.queryLatitudeGte,
                                text:this.queryText,
                                image:this.queryImage
                    };


                    $.post(url, query, (data, status)=>{
                        if (data.result == 0){
                            this.query_result = this.query_result;
                        }
                    });*/
                    this.query_result = [];
                    var formdata = new FormData();
                    formdata.append("startTime", this.queryStartTime);
                    formdata.append("endTime", this.queryEndTime);
                    formdata.append("longtitude_lte", this.queryLongitudeLte);
                    formdata.append("longtitude_gte", this.queryLongitudeGte);
                    formdata.append("latitude_lte", this.queryLatitudeLte);
                    formdata.append("latitude_gte", this.queryLatitudeGte);
                    formdata.append("text", this.queryText);
                    formdata.append("image", this.queryImage);
                    var that = this;
                    $.ajax({
                        type:'post',
                        url:url,
                        data:formdata,
                        processData:false,
                        contentType: false,
                        success:function(data){
                            if (data['result'] == 0) 
                                //alert("添加成功！ID:", data['resultID'])
                                alert('查询完成！');
                            var qtmp = data['query_result'];
                            console.log(that.query_result);
                            //for (var i = 0; i < len; ++i) that.query_result.pop();
                            for (var i in qtmp){
                                qtmp[i]['src'] = "http://10.141.223.70:8000/get_image/?id=" + (qtmp[i]['id']+1).toString();

                                if (qtmp[i]['lng'] < 0)
                                    qtmp[i]['lng'] = qtmp[i]['lng'].toString() + ' W';
                                else
                                    qtmp[i]['lng'] = qtmp[i]['lng'].toString() + ' E';
                                if (qtmp[i]['la'] < 0)
                                    qtmp[i]['la'] = qtmp[i]['la'].toString() + ' S';
                                else
                                    qtmp[i]['la'] = qtmp[i]['la'].toString() + ' N';
                                console.log(qtmp[i]['t']);
                                qtmp[i]['t'] = format(qtmp[i]['t'] * 1000);
                                //that.query_result.push(qtmp[i]);
                                //this.$set(this.query_result, i, query_result[i]);
                            }
                            that.query_result = qtmp;
                            console.log(that.query_result);

                        }
                    })
                }

            },
            created:function(){
                //var url = data.host + '/queryDataset';
                console.log('???');
                var url = this.host + '/queryDataset/';
                $.post(url,(data, status)=>{
                    console.log(data);
                    this.dataset=data.dataset;
                });
                console.log(this.dataset);
                this.refreshDataSet();
            }
        })
    </script>

</html>