<!DOCTYPE HTML>
<html lang="zh-cn">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>检索系统</title>
    </head>
    <script src="javascripts/vue.min.js"></script>
    <script src="javascripts/jquery-3.3.1.js"></script>

    <script src="javascripts/bootstrap.js"></script>


    <link href="stylesheets/fonts.css" rel="stylesheet"/>
    <link href="stylesheets/cofun.css" rel="stylesheet"/>
    <link href="stylesheets/bootstrap.css" rel="stylesheet"/>

    <body>
        <div class="content container" id="app">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#dataset">数据集</a></li>
                <li role="presentation"><a href="#data">添加/删除数据</a></li>
                <li role="presentation"><a href="#query">查询</a></li>
            </ul>
            <table class="table table-bordered table-hover">
                <th>编号</th>
                <th>数据集名称</th>
                <th>删除</th>
                <tr v-for='item in dataset' @click="bindDatasetID(item.id)">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                </tr>
            </table>
            
            <div id="dataset">
                <div class="form-horizontal">
                    <legend>添加数据集</legend>
                    <div class="control-group">
                        <label for="time" class="control-label">数据集名称</label>
                        <div class="controls">
                            <input type="text" v-model='datasetName' placeholder="格式：数据集名称">
                        </div>
                    </div>
                    <div class="control-group">
                            <label for="image" class="control-label">数据集文件</label>
                            <div class="controls">
                                <input type="file" @change="getFile">
                            </div>
                        </div>
                    <div>
                        <button class="btn btn-success" v-on:click="insertDataset">添加</button>
                    </div>
                </div>
            </div>

            <div id="data">
                <div class="form-horizontal">
                    <legend>添加数据</legend>
                    <div class="control-group">
                        <label for="datasetID" class="control-label">数据集ID</label>
                        <div class="controls">
                        <input type="text" v-model="datasetID" placeholder="格式:xx" >

                        </div>
                    </div>
                    <div class="control-group">
                        <label for="time" class="control-label">时间</label>
                        <div class="controls">
                        <input type="text" v-model="startTime" placeholder="格式：yyyy-mm-dd,没有则不填">至
                        <input type="text" v-model="endTime" placeholder="格式：yyyy-mm-dd,没有则不填">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="time" class="control-label">经度</label>
                        <div class="controls">
                            <input type="text" v-model="longitude"  placeholder="格式:xx°xx'E/W,没有则不填">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="area" class="control-label">纬度</label>
                        <div class="controls">
                            <input type="text" v-model="latitude" placeholder="格式:xx°xx'N/S,没有则不填">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="area" class="control-label">文本</label>
                        <div class="controls">
                            <textarea rows="10" v-model="text" placeholder="没有则不填"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="image" class="control-label">图片</label>
                        <div class="controls">
                            <input type="file" @change="getImage">
                        </div>
                    </div>
                    <button class="btn btn-success" v-on:click="insertData">添加</button>
                </div>
                <div class="form-horizontal">
                    <legend>删除数据</legend>
                    <div class="control-group">
                        <label for="datasetID" class="control-label">数据集ID</label>
                        <div class="controls">
                        <input type="text" name="startTime" placeholder="格式:xx">

                        </div>
                    </div>
                </div>


            </div>

            <div id="query">
                <legend>查询</legend>
                <div class="control-group">
                    <label for="datasetID" class="control-label">数据集ID</label>
                    <div class="controls">
                    <input type="text" v-model="datasetID" placeholder="格式:xx" >

                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        var Rdata={
                dataset:[],
                data:[],
                host:'127.0.0.1:8000',
                datasetName:'',
                datasetID:0,

                datasetFile:'',
                file:{},

                startTime:'',
                endTime:'',
                longitude:'',
                latitude:'',
                text:'',
                image:{},

            };
        new Vue({
            el:'#app',
            data:Rdata,
            methods:{
                refreshDatabaseSet:function(){
                    var url = data.host + '/DatabaseSet';
                    $.post(url,(data, status)=>{
                        Rdata.databaseSet=data.data;
                    });
                },
                bindDatasetID:function(id){
                    Rdata.datasetID = id;
                },
                getFile:function(event){
                    var file = event.target.files;
                    console.log(file[0]);
                    Rdata.file = file;
                },
                getImage:function(event){
                    var image = event.target.files;
                    Rdata.image = image;
                    console.log(image[0]);
                },
                insertDataset:function(){
                    var url = data.host + '/addDatabase';
                    var query = {datasetName:Rdata.databaseName, data:Rdata.file};
                    $.post(url, query, (data, status)=>{
                        this.refreshDatabaseSet();
                    })
                },
                removeDatabase:function(databaseName){
                    var url = data.host + '/removeDatabase';
                    var query = {datasetID:datasetID};
                    $.post(url, query, (data, status)=>{
                        this.refreshDatabaseSet();
                    });
                },
                insertData:function(){
                    var url = data.host + '/insertData';
                    var query = {datasetId:datasetID,
                                startTime:Rdata.startTime,
                                endTime:Rdata.endTime,
                                longitude:Rdata.longitude,
                                latitude:Rdata.latitude,
                                text:Rdata.text,
                                image:Rdata.image
                                };
                    $.post(url, query, (data, status)=>{
                    });
                },
                removeData:function(){
                    var url = data.host + '/removeData';
                    var query = {data}
                },
                query:function(){

                }

            },
            /*created:function(){
                var url = data.host + '/DatabaseSet';
                $.post(url,(data, status)=>{
                    Rdata.databaseSet=data.data;
                });
            }*/
        })
    </script>

</html>