<!DOCTYPE HTML>
<html lang="zh-cn">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>检索系统</title>
    </head>
    <script src="/javascripts/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

    <script src="/javascripts/bootstrap.js"></script>


    <link href="/stylesheets/fonts.css" rel="stylesheet"/>
    <link href="/stylesheets/cofun.css" rel="stylesheet"/>
    <link href="/stylesheets/bootstrap.css" rel="stylesheet"/>

    <body>
        <div class="content container" id="app">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#dataset">数据集</a></li>
                <li role="presentation"><a href="#data">添加/删除数据</a></li>
                <li role="presentation"><a href="#query">查询</a></li>
            </ul>

            <div id="dataset">
                <div class="form-horizontal">
                    <legend>添加数据集</legend>
                    <div class="control-group">
                        <label for="time" class="control-label">数据集名称</label>
                        <div class="controls">
                            <input type="text" v-model='datasetName' placeholder="格式：数据集名称">
                        </div>
                    </div>
                    <div class="control-group">
                            <label for="image" class="control-label">数据集文件</label>
                            <div class="controls">
                            <input type="file" v-model>
                            </div>
                        </div>
                    <div>
                        <button class="btn btn-success" v-on:click="insertDataset">添加</button>
                    </div>
                </div>
                

                <table class="table table-bordered table-hover">
                    <th>编号</th>
                    <th>数据集名称</th>
                    <th>删除</th>
                    <tr v-for='item in tableData'>
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <!--<td>
                            <button class="btn btn-danger" v-on:click="removeDatabase(item['name'])">删除</button>
                        </td>-->
                    </tr>
                </table>
            </div>

            <div id="data">
                    <div class="form-horizontal">
                        <legend>添加数据</legend>
                        <div class="control-group">
                            <label for="time" class="control-label">时间</label>
                            <div class="controls">
                            <input type="text" name="startTime" placeholder="格式：yyyy-mm-dd,没有则不填">至
                            <input type="text" name="endTime" placeholder="格式：yyyy-mm-dd,没有则不填">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="time" class="control-label">经度</label>
                            <div class="controls">
                                <input type="text" v-model="longitude"  placeholder="格式:xx°xx'E/W,没有则不填">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="area" class="control-label">纬度</label>
                            <div class="controls">
                                <input type="text" v-model="latitude" placeholder="格式:xx°xx'N/S,没有则不填">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="area" class="control-label">文本</label>
                            <div class="controls">
                                <input type="text" v-model="content" placeholder="没有则不填">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="image" class="control-label">图片</label>
                            <div class="controls">
                                <input type="file" v-change>  
                            </div>
                        </div>
                        <button class="btn btn-success" v-on:click="insertData">添加</button>
                    </div>
                <div>
                    
                </div>
            </div>
        </div>
    </body>
    <script>
        var Rdata={
                databaseSet:[],
                data:[],
                host:'127.0.0.1:8000',
                databaseName:'',

                longitude:'',
                latitude:'',


            };
        new Vue({
            el:'#app',
            data:Rdata,
            methods:{
                refreshDatabaseSet:function(){
                    var url = host + '/DatabaseSet';
                    $.post(url,(data, status)=>{
                        Rdata.databaseSet=data.data;
                    });
                },
                insertDataset:function(){
                    var url = host + '/addDatabase';
                    var query = {databaseName:Rdata.databaseName};
                    $.post(url, query, (data, status)=>{
                        this.refreshDatabaseSet();
                    })
                },
                removeDatabase:function(databaseName){
                    var url = host + '/addDatabase';
                    var query = {databaseName:databaseName};
                    $.post(url, query, (data, status)=>{
                        this.refreshDatabaseSet();
                    })
                }
            },
            created:function(){
                var url = host + '/DatabaseSet';
                $.post(url,(data, status)=>{
                    Rdata.databaseSet=data.data;
                }
            }
        })
    </script>

</html>